.container {
  height: 100%;
  width: 50%;
  margin: 0 auto;
  .title {
    font-weight: bold;
    font-size: large;
    padding: 32px 0;
  }
}

.threadList {
  .threadListItem {
    border: 1px solid black;
    border-bottom: none;
    padding: 10px;
    background-color: #fff;
    display: block;
    text-decoration: none;
    color: black;
  }
  .threadListItem:last-child {
    border-bottom: 1px solid black;
  }
}
